/* -------------------------------------- */
/* Variables */
/* -------------------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

img {
  width: 100%; }

.bottom-line {
  width: 10rem;
  height: 3px;
  background-color: #8f94fb; }

/* -------------------------------------- */
/* Body */
/* -------------------------------------- */
body {
  background: linear-gradient(to right, #4e54c8, #8f94fb);
  padding: 3rem; }

/* -------------------------------------- */
/* Container */
/* -------------------------------------- */
.container {
  margin: 0 auto;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
  padding: 1rem;
  max-width: 120rem;
  background-color: #faf9f9; }

/* -------------------------------------- */
/* Header */
/* -------------------------------------- */
.header {
  position: sticky;
  top: 2rem;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #302b63; }
  .header__img {
    display: block;
    width: 5rem; }
  .header__list {
    display: flex; }
  .header__list-item:not(:last-child) {
    margin-right: 2rem; }
  .header__list-item:last-child {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__link {
    display: block;
    padding: 1rem 2rem;
    border-radius: 15px;
    transition: all .2s;
    text-transform: uppercase;
    font-weight: 300; }
    .header__link:link, .header__link:visited {
      color: #fff; }
    .header__link:hover {
      background-color: #8f94fb;
      color: #0f0c29;
      transform: translateY(-2px); }
    .header__link:active {
      transform: translateY(-1px); }

/* -------------------------------------- */
/* Shop */
/* -------------------------------------- */
.shop {
  display: block; }
  .shop__svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: #fff;
    cursor: pointer;
    transition: all .3s; }
    .shop__svg:hover {
      fill: #4e54c8;
      transform: scale(1.1); }
  .shop__count {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    background-color: crimson;
    color: #fff;
    font-size: 1rem; }
  .shop__count--visible {
    visibility: visible; }

/* -------------------------------------- */
/* Slider */
/* -------------------------------------- */
.slider {
  margin-top: 2rem;
  height: 50%;
  overflow: hidden; }
  .slider__img {
    width: 100%;
    height: 40rem;
    animation: slideleft 3s, moveright 3s 5s forwards; }

@keyframes slideleft {
  0% {
    transform: translateX(-150vw); }
  100% {
    transform: translateX(0); } }

@keyframes moveright {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(150vw); } }

/* -------------------------------------- */
/* Heading */
/* -------------------------------------- */
.heading {
  height: 30rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .heading__text {
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: -5rem; }

/* -------------------------------------- */
/* Buttons */
/* -------------------------------------- */
.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.8);
  transition: all .3s; }
  .btn--primary {
    padding: 2rem 5rem;
    border-radius: 100px;
    color: #fff;
    font-size: 2rem;
    background-color: #302b63; }
  .btn:hover {
    transform: translateY(-3px);
    background-color: #4e54c8;
    color: #0f0c29; }
  .btn:active {
    transform: translateY(-1px); }

/* -------------------------------------- */
/* GALLERY */
/* -------------------------------------- */
.gallery {
  padding: 7rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem; }
  .gallery__box {
    overflow: hidden;
    background: #000;
    position: relative; }
  .gallery__img {
    height: 100%;
    transition: all 1s;
    opacity: 0.5; }
    .gallery__img:hover {
      transform: scale(1.2);
      opacity: 1; }
  .gallery__box::before:hover + .gallery__img {
    opacity: 1; }
  .gallery__btn {
    margin-top: 4rem;
    grid-column: 1 / span 3;
    display: flex;
    align-items: center;
    justify-content: center; }

/* -------------------------------------- */
/* LOCATION */
/* -------------------------------------- */
.location {
  border: 5px solid black;
  height: 30rem; }

/* -------------------------------------- */
/* FOOTER */
/* -------------------------------------- */
.footer {
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer__img {
    width: 7rem; }
  .footer__copyright {
    color: #fff;
    font-size: 1.3rem; }

/* -------------------------------------- */
/* SOCIALS */
/* -------------------------------------- */
.socials {
  width: 70%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .socials__link {
    color: #4e54c8;
    transition: all .3s; }
    .socials__link:hover {
      color: #8f94fb; }
  .socials__icon {
    width: 5rem;
    height: 5rem;
    fill: currentColor; }

/* -------------------------------------- */
/* SHOPPING CART */
/* -------------------------------------- */
.shopping-cart {
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 3;
  font-size: 1.5rem; }
  .shopping-cart__wrapper {
    background-color: #faf9f9;
    max-width: 70rem;
    min-height: 40rem;
    border-radius: 5px;
    padding: 2rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; }
  .shopping-cart__title {
    font-size: 3rem;
    text-align: center; }
  .shopping-cart__list {
    padding: 1rem; }
  .shopping-cart__list-item {
    padding: 1rem 2rem;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center; }
  .shopping-cart__pizza-info {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .shopping-cart__img {
    height: 10rem;
    width: 10rem; }
  .shopping-cart__name {
    margin-left: 2rem;
    font-size: 2rem; }
  .shopping-cart__coupons {
    margin: 3rem 0; }
  .shopping-cart__label {
    display: block;
    font-size: 2rem; }
  .shopping-cart__key {
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 1.5rem;
    border: 1px solid #4e54c8;
    border-radius: 5px; }
    .shopping-cart__key:focus {
      outline: none; }
  .shopping-cart__btn {
    text-transform: uppercase;
    font-weight: 300;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    transition: all .3s; }
    .shopping-cart__btn--add {
      font-family: inherit;
      background-color: #4e54c8;
      color: #fff; }
      .shopping-cart__btn--add:hover {
        transform: translateY(-3px); }
      .shopping-cart__btn--add:active {
        transform: translateY(-1px); }
  .shopping-cart__info {
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0; }
  .shopping-cart__order-value {
    color: #0aa71f;
    font-size: 2rem; }
  .shopping-cart__close {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: crimson; }
  .shopping-cart__delete {
    color: crimson;
    font-size: 3rem;
    margin-left: 2rem;
    cursor: pointer; }
  .shopping-cart__xD {
    margin-top: 2rem;
    align-self: center; }

/* -------------------------------------- */
/* MENU */
/* -------------------------------------- */
.menu__list-item {
  margin: 2rem 0;
  border: 1px solid #333;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset; }

.menu__item-top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #333; }

.menu__photo {
  width: 20rem;
  height: 20rem; }

.menu__name {
  font-size: 3rem;
  margin-left: 2rem;
  margin-right: auto; }

.menu__input-wrapper {
  display: flex; }

.menu__input-group:not(:last-of-type) {
  margin-right: 5rem; }

.menu__option {
  display: none; }

.menu__label {
  display: block;
  width: 7rem;
  height: 7rem;
  opacity: .8;
  transition: all .4s;
  position: relative;
  cursor: pointer; }

.menu__option:checked + .menu__label {
  transform: scale(1.25);
  opacity: 1; }

.menu__img-size {
  height: 100%;
  width: 100%;
  display: block; }

.menu__size {
  position: absolute;
  bottom: 0;
  right: -1rem;
  width: 4rem;
  height: 2rem;
  background-color: #302b63;
  color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center; }

.menu__price {
  margin-top: 3rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #4e54c8; }

.menu__item-bottom {
  margin-top: 2rem;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between; }

.menu__ingredients {
  display: flex;
  align-items: center; }

.menu__ingredient {
  width: 7rem;
  height: 7rem;
  margin-right: 2rem; }

.menu__svg {
  width: 100%;
  height: 100%; }

.menu__button {
  cursor: pointer; }

.content-page {
  display: none; }
  .content-page:target {
    display: block;
    animation: show 2s forwards; }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
